{% extends 'master.html' %} 
{% load humanize %} 
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/orderlist.css' %}">

<div class="order-list-wrapper">
  <h2>Your Orders</h2>

  {% if orders %}
  <table class="order-list-table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Status</th>
        <th>Total Price</th>
        <th>Order Date</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>#{{ order.id }}</td>
        <td>{{ order.status }}</td>
        <td>₱ {{ order.total_price | intcomma }}</td>
        <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
        <td>
          <a href="{% url 'order_status' order.id %}" class="view-details-btn">View Details</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>You have no orders yet.</p>
  {% endif %}
  <a href="{% url 'view_cart' %}" class="continue-shopping-btn">Back</a>
  <a href="{% url 'home' %}" class="continue-shopping-btn">Continue Shopping</a>
</div>

{% endblock %}
