<!-- cart.html -->
{% extends "master.html" %}
{% load humanize %}

{% block content %}
  <h1>Your Cart</h1>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Total price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.product.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.total_price | intcomma }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <h3>Total: {{ total_price | intcomma }}</h3>
  <a href="{% url 'checkout' %}" > Proceed to Checkout </a><br>
  <a href="{% url 'view_cart' %}"> View Cart </a><br>
  <a href="{% url 'home' %}"> Continue Shopping </a>
{% endblock %}
