{% extends "master.html" %} 
{% load humanize %} 
{% block content %} 
{% include 'search.html' %}

<div class="home-wrapper">
  <div class="products">
    <ul>
      {% for product in products %}
      <li>
        <div>
          <a
            href="{% url 'search_product' %}"
            class="category-link"
            value="{{ product.category }}"
            >{{ product.category }}</a
          >
          <h3>{{ product.name }}</h3>
          <p>₱ {{ product.price | intcomma }}</p>
          <a href="{% url 'product_detail' product.pk %}"
            ><img src="{{ product.image.url }}" alt="{{ product.name }}"
          /></a>
          <div class="quantity-selector">
            <button
              class="quantity-btn"
              onclick="decreaseQuantity({{ product.pk }})"
            >
              -
            </button>
            <input
              id="quantity-{{ product.pk }}"
              type="number"
              value="1"
              min="1"
              readonly
            />
            <button
              class="quantity-btn"
              onclick="increaseQuantity({{ product.pk }})"
            >
              +
            </button>
          </div>
          <a
            href="{% url 'add_to_cart' product.pk %}?quantity=1"
            id="add-to-cart-{{ product.pk }}"
            class="add-to-cart-btn"
          >
            Add to Cart
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
    <div class="trending">
      <!-- Additional content here -->
    </div>
  </div>
</div>

<script>
  function increaseQuantity(productId) {
    const inputField = document.getElementById(`quantity-${productId}`);
    const addToCartLink = document.getElementById(`add-to-cart-${productId}`);
    let quantity = parseInt(inputField.value);
    inputField.value = quantity + 1;
    addToCartLink.href =
      `{% url 'add_to_cart' 0 %}`.replace(0, productId) +
      `?quantity=${quantity + 1}`;
  }

  function decreaseQuantity(productId) {
    const inputField = document.getElementById(`quantity-${productId}`);
    const addToCartLink = document.getElementById(`add-to-cart-${productId}`);
    let quantity = parseInt(inputField.value);
    if (quantity > 1) {
      inputField.value = quantity - 1;
      addToCartLink.href =
        `{% url 'add_to_cart' 0 %}`.replace(0, productId) +
        `?quantity=${quantity - 1}`;
    }
  }

  document.querySelectorAll(".category-link").forEach((link) => {
    link.addEventListener("click", function (event) {
      event.preventDefault();
      const categoryValue = this.getAttribute("value");
      const searchField = document.getElementById("search-field");
      searchField.value = categoryValue;
      document.getElementById("search-form").submit();
    });
  });
</script>

{% endblock %}
