{% extends "master.html" %}
{% load humanize %}
{% block content %}

<section class="home-wrapper">
  {% for product in products %}
  <div class="product-card">
    <div class="logo-cart">
      <img src="{{ product.category.image.url }}" alt="logo" />
      <i class="bx bx-shopping-bag"></i>
    </div>
    <div class="main-images">
      <img id="yellow" class="yellow" src="{{ product.image.url }}" alt="blue" />
    </div>
    <div class="shoe-details">
      <span class="shoe_name">{{ product.name }}</span>
    </div>
    <div class="color-price">
      <div class="price">
        <span class="price_num">${{ product.price | intcomma }}</span>
      </div>
    </div>
    <div class="button">
      <div class="button-layer"></div>
      <a href="{% url 'product_detail' product.id %}"><button>Add To Cart</button></a>
    </div>
  </div>
  {% endfor %}
</section>

<script>
  function increaseQuantity(productId) {
    const inputField = document.getElementById(`quantity-${productId}`);
    const addToCartLink = document.getElementById(`add-to-cart-${productId}`);
    let quantity = parseInt(inputField.value);
    inputField.value = quantity + 1;
    addToCartLink.href =
      `{% url 'add_to_cart' 0 %}`.replace(0, productId) +
      `?quantity=${quantity + 1}`;
  }

  function decreaseQuantity(productId) {
    const inputField = document.getElementById(`quantity-${productId}`);
    const addToCartLink = document.getElementById(`add-to-cart-${productId}`);
    let quantity = parseInt(inputField.value);
    if (quantity > 1) {
      inputField.value = quantity - 1;
      addToCartLink.href =
        `{% url 'add_to_cart' 0 %}`.replace(0, productId) +
        `?quantity=${quantity - 1}`;
    }
  }

  document.querySelectorAll(".category-link").forEach((link) => {
    link.addEventListener("click", function (event) {
      event.preventDefault();
      const categoryValue = this.getAttribute("value");
      const searchField = document.getElementById("search-field");
      searchField.value = categoryValue;
      document.getElementById("search-form").submit();
    });
  });

</script>

{% endblock %}
