{% extends "master.html" %} 
{% load humanize %}
{% block content %} 
{% include 'search.html' %}


<div class="home-wrapper">
  <div class="categories">
    <h3>Categories</h3>
    <ul>
      {% for category in categories %}
      <li>{{ category.name }}</li>
      {% endfor %}
    </ul>
  </div>


  {% if product %}
  <div class="product-card-detail">
    <div class="logo-cart">
      <img src="{{ product.category.image.url }}" alt="logo" />
      <i class="bx bx-shopping-bag"></i>
    </div>
    <div class="main-images">
      <img id="yellow" class="yellow" src="{{ product.image.url }}" alt="blue" />
    </div>
    <div class="shoe-details">
      <span class="shoe_name">{{ product.name }}</span>
    </div>
    <div class="color-price">
      <div class="price">
        <span class="price_num">${{ product.price | intcomma }}</span>
      </div>
    </div>
    <div class="button">
      <div class="button-layer"></div>
      <a href="{% url 'add_to_cart' product.pk %}?quantity=1" id="add-to-cart-{{ product.pk }}">
      <button>Add To Cart</button></a>
    </div>

      <div class="quantity-selector">
        <button
          class="quantity-btn"
          onclick="decreaseQuantity({{ product.pk }})"
        >
          -
        </button>
        <input
          id="quantity-{{ product.pk }}"
          type="number"
          value="1"
          min="1"
          readonly
        />
        <button
          class="quantity-btn"
          onclick="increaseQuantity({{ product.pk }})"
        >
          +
        </button>
      </div>
    </div>
  </div>
  {% endif %}


  <!-- {% for suggested in selected %}
    <div class="suggestion-wrapper">
      <div class="suggested-product">
        <img src="{{ suggested.image.url }}" alt="{{ suggested.name }}">
        <p> ₱ {{ suggested.price | intcomma }} </p>
      </div>
    </div>
    {% endfor %} -->
</div>

<script>
  function increaseQuantity(productId) {
    const inputField = document.getElementById(`quantity-${productId}`);
    const addToCartLink = document.getElementById(`add-to-cart-${productId}`);
    let quantity = parseInt(inputField.value);
    inputField.value = quantity + 1;
    addToCartLink.href =
      `{% url 'add_to_cart' 0 %}`.replace(0, productId) +
      `?quantity=${quantity + 1}`;
  }

  function decreaseQuantity(productId) {
    const inputField = document.getElementById(`quantity-${productId}`);
    const addToCartLink = document.getElementById(`add-to-cart-${productId}`);
    let quantity = parseInt(inputField.value);
    if (quantity > 1) {
      inputField.value = quantity - 1;
      addToCartLink.href =
        `{% url 'add_to_cart' 0 %}`.replace(0, productId) +
        `?quantity=${quantity - 1}`;
    }
  }
</script>

{% endblock %}
