{% extends "master.html" %} 
{% load humanize %} 
{% load static %} 
{% block content %}
{% include 'search.html' %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
<section class="home-wrapper">
  {% for product in products %}
  <div class="product-card">
    <div class="logo-cart">
      <img src="{{ product.category.image.url }}" alt="logo" />
      <i class="bx bx-shopping-bag"></i>
    </div>
    <div class="main-images">
      <img id="yellow" class="yellow" src="{{ product.image.url }}" alt="blue" />
    </div>
    <div class="shoe-details">
      <span class="shoe_name">{{ product.name }}</span>
    </div>
    <div class="color-price">
      <div class="price">
        <span class="price_num">${{ product.price | intcomma }}</span>
      </div>
    </div>
    <div class="button">
      <div class="button-layer"></div>
      <a href="{% url 'product_detail' product.id %}">
        <button>Product Detail</button></a>
    </div>
    <div class="button">
      <form method="POST" action="{% url 'add_to_cart' product.id %}?checkout=true">
        {% csrf_token %}
        <div class="button-layer"></div>
        <button type="submit">Buy Now</button>
      </form>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}
