{% load static %}
{% block content %}

    <div class="navigation-bar">
        
        <div class="logo-wrapper">
            <div>
                <a href="/"> <img src="{% static 'images/image.png' %}" alt="Logo"> </a>
            </div>
            <div>
                <a href="/"> <h1>18 Plus</h1> </a>
            </div>
        </div>

        <div class="line"></div>
    
        {% if not change_navbar %}
            {% if user.is_authenticated %}
                <div class="profile-wrapper">
                    <div>
                        {% if user.image %}
                            <img src=" {{ user.image.url }} " alt="{{ user.username }} profile">
                        {% else %}
                            <img src="media/images/user/dp.png" alt="Image">
                        {% endif %}
                    </div>

                    <div>
                        {% if user.email %}
                            <p> {{ user.first_name }} {{ user.last_name }} </p>
                        {% endif %}
                    </div>
                </div>

                <div class="navigation-content">
                    <div>
                        <i class="fa-solid fa-house"></i><a href="/"> Home </a>
                    </div>

                    <div>
                        <i class="fa-solid fa-user"></i><a href="{% url 'edit_profile' user.id %}"> Profile </a>
                    </div>

                    <div>
                        <i class="fa-solid fa-location-dot"></i><a href="{% url 'address' user.id %}"> Address </a>
                    </div>

                    <div>
                        <i class="fa-solid fa-cart-shopping"></i><a href="{% url 'delivered_items' %}"> Purchased History </a>
                    </div>

                    <div>
                        <i class="fa-solid fa-cart-plus"></i><a href="{% url 'view_cart' %}"> Cart </a>
                    </div>

                    <div>
                        <i class="fa-solid fa-phone"></i><a href="/"> Contact Us </a>
                    </div>

                    <div>
                        <i class="fa-solid fa-gear"></i><a href="/"> Settings </a>
                    </div>

                </div>

            {% else %}
                <div class="suggestion-content">
                    <h3>Categories</h3>
                    <ul>
                        {% for cat in categories %}
                        <li>{{ cat.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock content %}

