{% extends "master.html" %}

{% block content %}

    <div class="search-wrapper">
        <h1>
            Hello
        </h1>

        <div class="search-field-wrapper">
            <input type="search" name="search" id="search-field">
            <button id="search-button"> <i class="fa-solid fa-magnifying-glass"></i> </button>
        </div>
        
        <div class="cart-notif">
            <button> <i class="fa-solid fa-cart-shopping fa-2xl"></i> </button>
            <button> <i class="fa-solid fa-bell fa-2xl"></i> </button>
        </div>

    </div>


{% endblock %}