
  
  
  /* Home Wrapper (Login Form Container) */
.address-wrapper {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    padding: 70px;
    margin: 200px auto;
  }
  
.address-wrapper h2 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Inter';
  }
  
  /* Form Elements */
.address-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Input Fields */
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    outline: none;
    width: 100%;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus {
    border-color: #41b3a3;
    box-shadow: 0 0 5px rgba(65, 179, 163, 0.2);
  }


 .address-wrapper  button {
    padding: 15px;
    background-color: rgb(32, 101, 128); /* Teal color */
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
 .address-wrapper button:hover {
    background-color: #3d879d;
    transform: translateY(-3px);
  }

  /* Links */
.address-wrapper p {
    font-size: 1rem;
    color: #666;
    margin-top: 15px;
  }
  
.address-wrapper a {
    color: #41b3a3;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
.address-wrapper a:hover {
    text-decoration: underline;
    color: #3d9d8c;
  }
  
  /* Labels */
  label {
    font-size: 1rem;
    font-weight: 300;
    color: #333;
    text-align: left;
    margin-bottom: 5px;
  }
  