/* Rectangle 1 */

body{
    display: flex;
}

div {
    box-sizing: border-box;
    position: relative;
    width: 600px;
    height: 850px;
    background: #F5F5F5;
    border: 1px solid #000000;
    border-radius: 15px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
}

/* SIGN UP */
h2{
    position: absolute;
    left: 39px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 2.5rem;
}

img{
    position: absolute;
    width: 199px;
    height: 179px;
    left: 199px;
    top: -23px;
}

input[name='first_name']{

    position: absolute;
    width: 204px;
    height: 35px;
    left: 50px;
    top: 200px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;

}

input[name='last_name']{

    position: absolute;
    width: 204px;
    height: 35px;
    left: 330px;
    top: 200px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;

}

input[name='username']{

    position: absolute;
    width: 485px;
    height: 35px;
    left: 50px;
    top: 270px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;

}

input[name='street']{

    position: absolute;
    width: 485px;
    height: 35px;
    left: 50px;
    top: 530px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;

}

input[name='password1']{

    position: absolute;
    width: 485px;
    height: 35px;
    left: 50px;
    top: 600px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;

}

input[name='password2']{

    position: absolute;
    width: 485px;
    height: 35px;
    left: 50px;
    top: 670px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}
input[name='email']{
    position: absolute;
    width: 485px;
    height: 35px;
    left: 50px;
    top: 330px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}

input[name='phone']{
    position: absolute;
    width: 204px;
    height: 35px;
    left: 50px;
    top: 390px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}
input[name='city']{

    position: absolute;
    width: 485px;
    height: 35px;
    left: 50;
    top: 460px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}
input[name='postal']{

    position: absolute;
    width: 204px;
    height: 35px;
    left: 330px;
    top: 390px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}

button{
    box-sizing: border-box;
    position: absolute;
    width: 204px;
    height: 47px;
    left: 196px;
    top: 770px;
    background-color: rgb(32, 101, 128); 
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1.3rem;
    color: #f5f5f5;
}

button:hover {
    background-color: #333;background-color: #3d879d; 
    transform: translateY(-3px);
}

.login-here{
    position: absolute;
    left: 170px;
    top: 720px;
    font-family: 'Inter';
}

#id_username_helptext{
    visibility: hidden;
}

label[for='id_first_name']{

    position: absolute;
    left: 50px;
    top: 170px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 1.1rem;

}

label[for='id_last_name']{

    position: absolute;
    left: 50px;
    top: 170px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 1.1rem;

}

label[for='id_email']{

    position: absolute;
    left: 50px;
    top: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1.1rem;

}

label[for='id_password1']{

    position: absolute;
    left: 330px;
    top: 170px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1.1rem;

}

label[for='id_password2']{

    position: absolute;
    left: 330px;
    top: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1.1rem;

}

p {
    font-size: 1rem;
    color: #666;
    margin-top: 15px;
  }
  
a {
color: #41b3a3;
text-decoration: none;
font-weight: bold;
transition: color 0.3s ease;
}

a:hover {
text-decoration: underline;
color: #3d9d8c;
}