
body {

    font-family: 'Inter', 'Inria Serif';
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1920px;
    height: 1080px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* HOME STYLE */

.home-wrapper{
    height: 100vh;
    margin-left: 350px;
}


.categories {

    position: absolute;
    width: 239px;
    height: 289px;
    left: 100px;
    font-family: 'Inter';
    font-weight: 300;

}

.categories h3{

    font-family: 'Inter';
    font-weight: 400;

}

.products ul{
    display: flex;
    flex-wrap: wrap;
}

.products li{
    margin: 50px;
    list-style: none;
}


.products img{
    width: 300px;
    height: 300px;
    border-radius: 10px;

}

.products a{

    color: #b30000;

}

.product-description{

    position: absolute;
    width: 441px;
    height: 449px;
    left: 400px;

}

.suggestion-wrapper{

    position: absolute;
    width: 1142px;
    height: 310px;
    left: 385px;
    top: 704px;

}

.suggested-product {

    position: absolute;
    width: 254px;
    height: 310px;
    left: 385px;
    top: 704px;

}
.suggested-product img{

    position: absolute;
    width: 254px;
    height: 210.84px;
    left: 385px;
    top: 704px;
    border-radius: 10px;

}


/* END HOME STYLE */

/* NAVIGATION STYLES */
.navigation-bar{
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    width: 250px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #F0F0F0;   
}

.logo-wrapper{

    width: 250px;
    height: 100px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo-wrapper img{

    width: 99px;
    height: 90px;

}

.logo-wrapper h1{

    left: 110px;
    font-family: 'Inria Serif',sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: #000000;

}

.line{

    width: 220px;
    border: 1px solid #000000;
    margin: 0px 15px;

}

.profile-wrapper{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;

}

.profile-wrapper img{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;

}

.profile-wrapper p{

    text-transform: capitalize;
    font-weight: 300;
    font-size: 1rem;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;

}

.navigation-content{

    width: 250px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 20px;

}

.navigation-content a{

    text-decoration: none;
    color: #000000;
    margin-left: 10px;
}

.suggestion-content {

    position: absolute;
    width: 250px;
    height: 300px;
    left: 40px;
    top: 200px;

}
/* END NAVIGATION STYLES */


/* SEARCH STYLE */

.search-wrapper{
    
    position: sticky;
    width: 1591px;
    height: 162px;
    left: 329px;
    top: 0px;
    background: #Ffff;

}

.search-wrapper h1{

    position: absolute;
    left: 150px;
    top: 40px;
    font-family: 'Inria Serif';
    font-weight: 700;
    font-size: 2.5rem;
    color: #000000;

}

.search-field-wrapper{

    position: absolute;
    width: 721px;
    height: 44px;
    left: 450px;
    top: 70px;

}

#search-field{

    width: 721px;
    height: 44px;

}

#search-button {

    box-sizing: border-box;
    position: absolute;
    width: 48px;
    height: 44px;
    border: 1px solid #000000;

}

.cart-notif {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 150px;
    height: max-content;
    left: 1300px;
    top: 70px;

}

.cart-notif button{

    height: 45px;
    width: 45px;
    border: none;
    background: none;

}

.login-logout{

    position: absolute;
    width: 158px;
    height: 30px;
    left: 1470px;
    top: 80px;

}


/* END SEARCH STYLE */

